<!doctype html>
<html>
<head>
  <title>Brian Elting - Web Developer</title>
  <!-- inject:css -->
  <!-- endinject -->
<head>
<body>
  <h1>Brian Elting</h1>
  {{#each employment}}
    <h1>{{title}}</h1>
  {{/each}}
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
