.edu-col {
  margin-bottom: 50px;
}

.edu-item {
  background: #fff;
  border-radius: 8px;
  padding: 30px 50px;
  height: 100%;
}

.edu-item h2 {
  font-size: 2rem;
  text-transform: lowercase;
  line-height: 1.125;
  margin-top: 30px;
  margin-bottom: 30px;
}

.edu-item p {
  font-size: 1.5rem;
  color: #bbb;
  line-height: 1.25;
}