html,
body {
  color: #696969;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

section {
  padding-top: 50px;
}

section h1 {
  color: #00cf92;
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 50px;
}

section h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

section h3,
p {
  font-size: 1.125em;
  margin-bottom: 10px;
}

section h3 {
  font-weight: 500;
}

section a {
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

img.scale-image {
  width: 100%;
}

@media (max-width: 767px) {
  img.scale-image {
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
  }
}