#skills {
  margin-bottom: 80px;
}

.skill .name {
  font-size: 2rem;
  font-weight: 300;
  text-align: right;
}

.skill .level {
  display: block;
  background: #00cf92;
  height: 18px;
  border-radius: 10px;
}