nav {
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-wrapper {
  background: #00cf92;
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-wrapper .container {
  border-bottom: 1px solid #00d898;
}

.nav-wrapper ul {
  float: right;
  list-style: none;
  margin: 0;
}

.nav-wrapper ul a {
  font-size: 1.125em;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-wrapper ul a:hover {
  background: #00d898;
}

.nav-wrapper li {
  float: left;
  height: 100%;
}

.nav-wrapper a {
  color: #fff;
  display: block;
  height: 100%;
  line-height: 50px;
  text-decoration: none;
  text-transform: lowercase;
  transition: color 0.25s;
}

.nav-wrapper a.name {
  float: left;
  font-size: 1.375em;
  font-weight: 300;
}

.nav-wrapper button {
  color: #fff;
  display: block;
  height: 100%;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.25s;
  line-height: 1;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav-wrapper .container {
    width: 100%;
    max-width: none;
    margin: 0;
    text-align: center;
  }
  .nav-wrapper ul {
    display: none;
    text-align: left;
    background: #00cf92;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    margin-left: 0;
  }
  .nav-wrapper.open ul {
    display: block;
  }
  .nav-wrapper.open ul a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-wrapper.open li {
    float: none;
  }
  .nav-wrapper a.name {
    text-align: center;
    float: none;
    display: inline-block;
  }
}

.nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-toggle i {
  line-height: 50px;
}
