#contact ul {
  margin-bottom: 30px;
}

#contact ul li {
  margin-bottom: 10px;
}

#contact ul svg {
  vertical-align: middle;
  margin-right: 5px;
}

#contact ul span,
#contact ul a {
  vertical-align: middle;
}

#contact ul a {
  color: inherit;
}

#contact h3 {
  margin-bottom: 30px;
}