footer {
  background: #333;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.125em;
  border-top: 1px solid #666;
}

footer .copyright {
  float: left;
}

footer a.source {
  color: #fff;
  float: right;
  text-decoration: none;
  text-transform: lowercase;
}

footer a.source:hover {
  text-decoration: underline;
}