#experience {
  margin-bottom: -50px;
}

.exp-item {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.exp-item .company {
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
}

.exp-item .company .logo-col {
  text-align: right;
}

.exp-item .company h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.125;
}

.exp-item .company p {
  font-size: 1.5rem;
}

.exp-item .company img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.exp-item .position {
  margin-bottom: 15px;
}

.exp-item .position h3 {
  font-size: 2rem;
  text-transform: lowercase;
  margin-bottom: 0;
}

.exp-item .position .dates {
  font-size: 1.25rem;
  color: #bbb;
  margin-top: 5px;
}

.exp-item .position-desc {
  margin-bottom: 30px;
}

.exp-item .position-desc ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 25px;
  font-size: 1.125rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .exp-item .company h2 {
    font-size: 2rem;
  }
  .exp-item .position .dates {
    text-align: right;
  }
  .exp-item .company img {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 992px) {
  .exp-item .company h2 {
    font-size: 2.5rem;
  }
  .exp-item .company img {
    width: 160px;
    height: 160px;
  }
  .exp-item .position .dates {
    font-size: 1.5rem;
  }
}